#destination-page {
    .jumbotron {
        position: relative;
        .full-length-container {
            .text-intro {
                a {
                    display: inline;
                    margin-right: 16px;
                }
            }
        }
    }
    .main-content-container {
        .content-container {
            .trippian-list {
                .trippian-list-item {
                    border-bottom: 1px dotted $divider-color;
                    padding: 16px 0;
                    .avatar {
                        width: 100%;
                        // min-height: 200px;
                    }
                }
            }
        }
    }
}
