//
// Grid system
// --------------------------------------------------

@media (min-width: $screen-md-min)  {
  .row-flex, .row-flex > div[class*='col-'] {  
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
  }
}
