#home-page {
    .popular-destinations {
        .popular-destinations-item {
            a {
                display: inline-block;
                width: 100%;
                min-height: 150px;
                position: relative;
                span {
                    position: absolute;
                    color: white;
                    font-size: 20px;
                    font-weight: bold;
                    top: 40%;
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
