/*
* Global styling
* ========================================================================== */

* {
    @include box-shadow(none);
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 80px;
    color: $gray-darker;
    font-size: 1.1rem;
    font-family: $roboto;
    background-color: $main-bg-color;
}

a {
    font-family: $roboto-slab;
    color: $link-color;
    cursor: pointer;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    width: 100%;
}

.btn-link {
    color: $primary-color-dark;
    background-color: transparent;
    border: none;
    font-style: italic;
}

.active {
    color: $primary-color-dark !important;
}

button[disabled],
html input[disabled] {
    color: $gray-light;
}

.padding-row {
    padding: 16px;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-row {
    width: 100%;
    min-height: 20px;
    button {
        margin: 0 8px;
    }
}

.operation-menu-widget {
    width: 100%;
    min-height: 20px;
    button {
        margin: 0 8px;
    }
}

.no-list-message {}


/*
* Main styling
* ========================================================================== */

main {
    margin: 0 auto;
    z-index: 0;
    min-height: $main-min-height;
    .full-length-container {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        a {
            color: #fff;
        }
    }
    .main-content-container {
        margin-top: 60px;
        margin-bottom: 60px;
        // @media screen and (max-width: 1200px) {
        //     margin-top: 200px;
        // }
        // @media screen and (max-width: 450px) {
        //     margin-top: 250px;
        // }
    }
    .content-container {
        padding: 32px;
        // margin-bottom: 50px;
        background-color: $main-content-bg-color;
        .section {
            margin-bottom: 32px;
            .section-header {
                padding-bottom: 10px;
            }
            .section-body {}
        }
    }
}


/*
* Footer styling
* ========================================================================== */

footer {
    text-align: center;
    height: 98px;
    width: 100%;
    padding: 32px 0;
    position: absolute;
    bottom: 0;
    background-color: $gray-base;
    color: $gray-light;
    a {
        color: $gray-light;
    }
    .footer-links {
        a {
            color: $primary-color-light;
            display: inline-block;
            margin: 4px 10px;
        }
    }
}

.btn-bordered {
    border: 2px solid white;
}

.jumbotron {
    max-height: 400px;
    position: relative;
    z-index: 1;
    .react-drive-in-video {
        z-index: 0;
    }
    .container {
        z-index: 2;
    }
    .full-length-container {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        .container {
            height: 100px;
            // overflow: hidden;
            .avatar {
                float: left;
                width: 200px;
                img {
                    width: 150px;
                    height: 150px;
                    border: 5px solid white;
                }
            }
        }
    }
}

.jumbotron-meta-area-widget {
    .meta-info {
        float: left;
        left {
            padding: 0;
        }
        @media screen and (max-width: 1100px) {
            width: 100%;
            margin: 0;
            color: black;
        }
        .text-intro {}
        .star-rating {}
        .btn {
            margin: 8px;
            margin-top: 26px;
        }
        .text-intro {
            width: 100%;
            margin-right: 16px;
        }
        .contact-button-widget {
            float: right;
            margin-right: -36px;
        }
    }
    .meta-info-right {
        float: right;
    }
}

.flexible-photo {
    .main-content-container {
        margin-top: 80px;
        @media screen and (max-width: 1200px) {
            margin-top: 50px;
        }
        @media screen and (max-width: 1199px) {
            margin-top: 150px;
        }
        @media screen and (max-width: 450px) {
            margin-top: 230px;
        }
        .content-container {}
    }
}

.jumbotron-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.jumbotron-fixed {
    // position: absolute;
    min-height: 820px;
    z-index: 2;
    // left: 0;
    // top: 0;
    width: 100%;
}

// widgets
.login-button-widget {
    button,
    a {
        color: white;
        margin-bottom: 8px;
        min-width: 200px;
        text-align: left;
        i {
            padding-right: 8px;
            margin-right: 8px;
            // border-right: 1px solid $gray-lighter;
        }
        span {
            font-size: 18px;
        }
        &:hover {
            color: $primary-color-light;
        }
    }
    .facebook {
        background-color: #2d4373;
    }
    .google {
        background: #c23321;
    }
}

.signup-button-widget {
    button,
    a {
        color: white;
        margin-bottom: 8px;
        min-width: 200px;
        text-align: left;
        i {
            padding-right: 8px;
            margin-right: 8px;
            // border-right: 1px solid $gray-lighter;
        }
        span {
            font-size: 18px;
        }
        &:hover {
            color: $primary-color-light;
        }
    }
    .facebook {
        background-color: $facebook-color;
    }
    .google {
        background: $google-color;
    }
}

.vote {
    text-align: center;
    color: $primary-color-dark;
    .total-votes {
        font-size: 24px;
        font-weight: bold;
        display: block;
        margin-top: 16px;
        margin-bottom: 8px;
    }
    .vote-buttons {
        button {
            // border: none;
            // background-color: white;
            span {
                // background-color: white;
            }
        }
    }
}

.trip-list-item {
    border-bottom: 1px dotted $divider-color;
    padding: 16px 0;
    .sub-title {
        font-size: 14px;
        color: $secondary-text-color;
    }
    .feature-image {
        margin-top: 10%;
        width: 100%;
        // min-height: 200px;
    }
}

.team {
    overflow: hidden;
    .photo {
        margin-left: 0px;
        width: 60%;
    }
    .row {
        min-height: 280px;
        h4 {
            font-style: italic;
            font-size: 16px;
        }
        p {
            padding: 0 32px;
        }
    }
}

.jumbotron-dashboard-widget {
    min-height: 300px;
    padding-top: 160px;
    background-color: $light-bg-color;
    text-align: center;
    .user-menu-widget {
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.jumbotron-plain-bg-widget {
    min-height: 300px;
    padding-top: 160px;
    background-color: $light-bg-color;
    text-align: center;
    .title {
        p {}
    }
}

.nav-user-avatar {
    width: 36px !important;
    height: 36px !important;
    margin: -6px 10px !important;
    img {
        width: 100%;
    }
    &:hover {
        width: 40px !important;
        height: 40px !important;
        margin: -10px 10px !important;
    }
}

.inquiry-list-item-widget {}

.contact-button-widget {
    a {
        span {
            font-size: 18px;
            font-weight: bold;
        }
        i {
            display: block;
            font-style: normal;
        }
    }
}

.vote-widget {
    button {
        background-color: transparent;
        border: none;
    }
}

.save-trip-button {
    position: absolute;
    right: 18px;
    bottom: 2px;
    background-color: transparent;
    border: none;
    color: $white-base;
    font-size: 20px;
}

.user-link-widget {
    display: inline-block;
    a {
        font-size: 20px;
        padding-right: 8px;
        .fa-facebook-official {
            color: $facebook-color;
        }
        .fa-google-plus {
            color: $google-color;
        }
    }
}


/**
 * The geosuggest module
 */

.search-box-widget {
    button {
        background-color: rgba(122, 177, 59, 0.39);
        border: none;
        padding: 10px 16px;
        // margin-left: -50px;
    }
}

.geosuggest {
    font-size: 18px;
    font-size: 1rem;
    min-width: 280px;
    position: relative;
    width: 50%;
    margin: 1em auto;
    text-align: left;
    background-color: rgba(14, 14, 14, 0.18);
    -webkit-transition: border 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 1px #3d464d;
    border-radius: 5px;
}

.geosuggest__input {
    width: 100%;
    color: black;
    border: 2px solid transparent;
    padding: .4em 1em;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    transition: border 0.2s, box-shadow 0.2s;
}

.geosuggest__input:focus {
    border-color: #267dc0;
    box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
    position: absolute;
    color: black;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 25em;
    padding: 0;
    margin-top: -1px;
    background-color: rgba(255, 255, 255, 0.31);
    border: 2px solid #267dc0;
    border-top-width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
    z-index: 5;
    -webkit-transition: max-height 0.2s, border 0.2s;
    transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
    max-height: 0;
    overflow: hidden;
    border-width: 0;
}


/**
 * A geosuggest item
 */

.geosuggest-item {
    font-size: 18px;
    font-size: 1rem;
    padding: .5em .65em;
    cursor: pointer;
}

.geosuggest-item:hover,
.geosuggest-item:focus {
    background: #f5f5f5;
}

.geosuggest-item--active {
    background: #267dc0;
    color: #fff;
}

.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
    background: #ccc;
}
