/*
* Global styling
* ========================================================================== */

* {
    @include box-shadow(none);
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 80px;
    color: $gray-darker;
    font-size: 1.1rem;
    font-family: $roboto;
    background-color: $main-bg-color;
}

a {
    font-family: $roboto-slab;
    color: $link-color;
    cursor: pointer;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.active {
    color: $primary-color-dark !important;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
* Main styling
* ========================================================================== */

main {
    margin: 0 auto;
    z-index: 0;
    min-height: $main-min-height;
    .full-length-container {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        a {
            color: #fff;
        }
    }
    .main-content-container {
        margin-top: 60px;
        margin-bottom: 60px;
        // @media screen and (max-width: 1200px) {
        //     margin-top: 200px;
        // }
        // @media screen and (max-width: 450px) {
        //     margin-top: 250px;
        // }
    }
    .content-container {
        padding: 32px;
        // margin-bottom: 50px;
        background-color: $main-content-bg-color;
        .section {
            margin-bottom: 32px;
            .section-header {
                padding-bottom: 10px;
            }
            .section-body {}
        }
    }
}


/*
* Footer styling
* ========================================================================== */

footer {
    text-align: center;
    height: 98px;
    width: 100%;
    padding: 32px 0;
    position: absolute;
    bottom: 0;
    background-color: $gray-base;
    color: $gray-light;
    a {
        color: $gray-light;
    }
    .footer-links {
        a {
            color: $primary-color-light;
            display: inline-block;
            margin: 4px 10px;
        }
    }
}

.btn-bordered {
    border: 2px solid white;
}

.jumbotron {
    max-height: 400px;
    position: relative;
    z-index: 99;
    .full-length-container {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
        .container {
            height: 100px;
            // overflow: hidden;
            .avatar {
                float: left;
                width: 200px;
                img {
                    width: 150px;
                    height: 150px;
                    border: 5px solid white;
                }
            }
            .meta-info {
                float: left;
                @media screen and (max-width: 1200px) {
                    width: 100%;
                    margin: 0;
                    color: black;
                }
                .left {
                    float: left;
                    width: 70%;
                    min-width: 300px;
                    padding-right: 16px;
                }
                .right {
                    width: 20%;
                    float: left;
                    .btn {
                        margin: 8px;
                        margin-top: 26px;
                    }
                }
                .text-intro {
                    width: 100%;
                    margin-left: 16px;
                }
                .star-rating {}
            }
        }
    }
}

// widgets
.login-button-widget {
    a {
        color: white;
        margin-bottom: 8px;
        min-width: 200px;
        text-align: left;
        i {
            padding-right: 8px;
            margin-right: 8px;
            // border-right: 1px solid $gray-lighter;
        }
    }
    &:hover {
        color: $primary-color-light;
    }
    .facebook {
        background-color: #2d4373;
    }
    .google {
        background: #c23321;
    }
}
