/*
* Global styling
* ========================================================================== */

* {
    @include box-shadow(none);
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 80px;
    color: $gray-darker;
    font-size: 1.1rem;
    font-family: $roboto;
    background-color: $main-bg-color;
}

a {
    font-family: $roboto-slab;
    color: $link-color;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.active {
    color: $primary-color-dark !important;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
* Main styling
* ========================================================================== */

main {
    margin: 0 auto;
    z-index: 0;
    min-height: $main-min-height;
    .full-length-container {
        background-color: rgba(0, 0, 0, 0.2);
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .main-content-container {
        // margin-top: 100px;
        margin-bottom: 130px;
        // @media screen and (max-width: 1200px) {
        //     margin-top: 200px;
        // }
        // @media screen and (max-width: 450px) {
        //     margin-top: 250px;
        // }
    }
    .content-container {
        padding: 32px;
        // margin-bottom: 50px;
        background-color: $main-content-bg-color;
        .section {
            margin-bottom: 32px;
            .section-header {
                padding-bottom: 10px;
            }
            .section-body {}
        }
    }
}


/*
* Footer styling
* ========================================================================== */

footer {
    text-align: center;
    height: 98px;
    width: 100%;
    padding: 32px 0;
    position: absolute;
    bottom: 0;
    background-color: $gray-base;
    color: $gray-light;
    a {
        color: $gray-dark;
    }
    .footer-links {
        a {
            color: $primary-color-light;
            display: inline-block;
            margin: 4px 10px;
        }
    }
}

.btn-bordered {
    border: 2px solid white;
}
