//
// Meals
// --------------------------------------------------

.meal {
  margin-bottom: 20px;
  
  .thumbnail {
    img {
      width: 246.5px;
    }

    .caption {
      h4 {
        margin-bottom: 5px;
      }

      .btn-ingredients {  
        margin: 4px 0 8px;
      }
    }
  }
}