.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    left: 0;
    z-index: 100;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    .navbar-header {
        .navbar-brand {
            font-size: 60px;
            img {
                // background-color: rgba(7, 0, 0, 0.35);
                max-width: 200px;
                margin-top: -20px;
            }
        }
    }
    .navbar-nav {
        .dropdown-menu {
            li {
                a {
                    color: $primary-color
                }
            }
        }
        li {
            .navbar-form {
                margin: 0;
            }
            a {
                cursor: pointer;
                color: $white-base;
                padding: 8px !important;
                &.btn-bordered {
                    font-size: 18px;
                    &:hover {
                        color: $white-base;
                        background-color: $primary-color;
                        border: none;
                    }
                }
            }
        }
    }
}
