//
// Thumbnails
// --------------------------------------------------

.recipe-card {
  img {
    width: 329px;
  }

  .caption {
    h4 {
      margin-bottom: 5px;
    }

    .btns-recipe {
      text-align: center;
      margin-top: 30px;
    }
  }
}