#trippian-profile-page {
    .jumbotron {
        max-height: 400px;
        position: relative;
        .full-length-container {
            background-color: rgba(0, 0, 0, 0.2);
            height: 100px;
            width: 100%;
            position: absolute;
            bottom: 0;
            .container {
                height: 100px;
                // overflow: hidden;
                .avatar {
                    float: left;
                    width: 200px;
                    img {
                        width: 150px;
                        height: 150px;
                        border: 5px solid white;
                    }
                }
                .meta-info {
                    float: left;
                    @media screen and (max-width: 1200px) {
                        width: 100%;
                        margin: 0;
                        color: black;
                    }
                    .left {
                        float: left;
                        width: 70%;
                        min-width: 300px;
                        padding-right: 16px;
                    }
                    .right {
                        width: 20%;
                        float: left;
                        .btn {
                            margin: 8px;
                            margin-top: 26px;
                        }
                    }
                    .text-intro {
                        width: 100%;
                        margin-left: 16px;
                    }
                    .star-rating {}
                }
            }
        }
    }
}
