@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700);
@import './variables.scss';
@import './mixins.scss';

/*
* Global styling
* ========================================================================== */

* {
    @include box-shadow(none);
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    margin-bottom: 112px;
    color: $black-base;
    font-size: 1.1rem;
    font-family: $roboto;
}

a {
    font-family: $roboto-slab;
    color: $link-color;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.active {
    color: $dark-primary-color !important;
}

.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Circle Avatar Styles */

.circle {
    line-height: 0;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    transition: linear 0.25s;
    height: 64px;
    width: 64px;
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        &:hover {
            transition: ease-out 0.2s;
            border: 2px solid rgba(255, 255, 255, 0.8);
            -webkit-transition: ease-out 0.2s;
        }
        a {
            color: transparent;
        }
    }
}


/*
* Navbar styling
* ========================================================================== */

nav {
    &.navbar-default {
        background: linear-gradient($black-transparent, transparent);
        border: none;
        .navbar-brand {
            color: $white-base;
        }
        .slogan {
            height: 100%;
            margin-right: 60px;
            h4 {
                margin: 16px;
                line-height: 100%
            }
        }
        .navbar-right {
            li {
                a {
                    color: $black-base;
                    &:active,
                    &:hover {
                        color: $dark-primary-color;
                    }
                }
            }
        }
    }
}


/*
* Main container styling
* ========================================================================== */

main {
    margin: 0 auto;
    min-height: 500px;
    background-color: $white-base;
}


/*
* Footer styling
* ========================================================================== */

footer {
    height: 80px;
    width: 100%;
    padding: 16px 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $black-base;
    color: $gray-light;
}


/*
* HomePage  styling
* ========================================================================== */

#home-container {
    .home-inner-box {
        min-height: 400px;
    }
    .explore-links {
        width: 100%;
    }
    .movie-search {
        width: 100%;
        .btn-success {
            width: 80px;
        }
    }
}


/*
* Recipe Page  styling
* ========================================================================== */

.recipe-page {
    .jumbotron {
        padding-top: 500px;
    }
    .recipe-container {
        padding: 32px 0;
    }
}


/*
* Override  styling
*/

.pager li>a,
.pager li>span {
    border-radius: 0;
}

.navbar-brand>img {
    width: 150px;
    margin-top: -18px;
}

.nav>li>a>img {
    margin-top: -16px;
    width: 44px;
    height: 44px;
}

.nav>li {
    height: 44px;
    min-height: 44px;
}

.thumbnail {}

.jumbotron {
    margin-top: -80px;
    @include cover-background()
}
