/*
 * Colors
 * ========================================================================== */

$white-base: #FFF;
$black-base: #000;
$black-transparent: rgba(0, 0, 0, 0.4);
$gray-darker: #212121;
$gray-dark: #727272;
$gray: #9E9E9E;
$gray-light: #B6B6B6;
$gray-lighter: #F3F3F3;
$dark-primary-color: #FFA000;
$primary-color: #FFC107;
$light-primary-color: #FFECB3;

/*
 * Typography
 * ========================================================================== */

$roboto: 'Roboto',
sans-serif;
$roboto-slab: 'Roboto Slab',
serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width: 1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px;

/* Extra small screen / phone */

$screen-sm-min: 768px;

/* Small screen / tablet */

$screen-md-min: 992px;

/* Medium screen / desktop */

$screen-lg-min: 1200px;

/* Large screen / wide desktop */


/*
 * Animations
 * ========================================================================== */

$animation-swift-out: .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

/*
 * Additional setups
 * ========================================================================== */

$link-color: $primary-color;
$link-hover-color: $dark-primary-color;
